/* 折叠面板 */
.accordion {
	width: 600px;
  margin: 25px auto;
	article {
		margin-top: 40px;
		cursor: pointer;
		&:first-child {
			margin-top: 0;
		}
	}
	input {
		display: none;
   padding: 0;
   margin: 0;
		&:nth-child(1):checked ~ article:nth-of-type(1) p,
		&:nth-child(2):checked ~ article:nth-of-type(2) p,
		&:nth-child(3):checked ~ article:nth-of-type(3) p, 
		&:nth-child(4):checked ~ article:nth-of-type(4) p,
		&:nth-child(5):checked ~ article:nth-of-type(5) p,
		&:nth-child(6):checked ~ article:nth-of-type(6) p,
		&:nth-child(7):checked ~ article:nth-of-type(7) p,
		&:nth-child(8):checked ~ article:nth-of-type(8) p,
		&:nth-child(9):checked ~ article:nth-of-type(9) p,
		&:nth-child(10):checked ~ article:nth-of-type(10) p,
		&:nth-child(11):checked ~ article:nth-of-type(11) p,
		&:nth-child(12):checked ~ article:nth-of-type(12) p,
		&:nth-child(13):checked ~ article:nth-of-type(13) p,
		&:nth-child(14):checked ~ article:nth-of-type(14) p,
		&:nth-child(15):checked ~ article:nth-of-type(15) p,
		&:nth-child(16):checked ~ article:nth-of-type(16) p,
		&:nth-child(17):checked ~ article:nth-of-type(17) p,
		&:nth-child(18):checked ~ article:nth-of-type(18) p,
		&:nth-child(19):checked ~ article:nth-of-type(19) p,
		&:nth-child(20):checked ~ article:nth-of-type(20) p{
			border-bottom-width: 1px;
			max-height: 600px;
		}
	}
	label {
		display: block;
		padding: 0 20px;
		height: 40px;
		background-color: #65968f71;
		cursor: pointer;
		line-height: 40px;
		font-size: 16px;
		color: #000000;
        content: 'BC';
	}
	p {
		overflow: hidden;
		padding: 0 20px;
   margin: 0;
		border: 1px solid #b49d9d;
		border-top: none;
		border-bottom-width: 0;
		max-height: 0;
		line-height: 30px;
		transition: all 500ms;
	}
}

