input[type=button] {
    border: 0;
    height: 60px;
    width: 60px;
    }
    .formula {
    border: 0;
    background-color: #f14edc;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    }
    .formula:hover {
    color: #9d0049;
    background-color: #fff;
    border: 2px #f14edc solid;
    font-size: 25px;
    }
    .number {
    border: 0;
    background-color: #e07232;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    }
    .number:hover {
    color: #9d0049;
    background-color: #fff;
    border: 2px #e07232 solid;
    font-size: 25px;
    }
    .AC {
    border: 0;
    background-color: #5e0404;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    
    }
    .AC:hover {
    color: #9d0049;
    background-color: #fff;
    border: 2px #5e0404 solid;
    font-size: 25px;
    
    }
    .number_0 {
    border: 0;
    background-color: #447aee;
    color: #fff;
    border-radius: 32px;
    cursor: pointer;
    font-size: 20px;
    width: 120px !important;
    }
    .number_0:hover {
    color: #9d0049;
    background-color: #fff;
    border: 2px #447aee solid;
    font-size: 25px;
    width: 120px !important;
    }
    .result {
    border-color:rgb(6, 6, 54);
    border-width:3px;
    border-style:solid;
    background-color: #f7c0d9;
    color: rgb(55, 7, 94);
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    }